@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@600&family=Rokkitt:wght@300&family=Supermercado+One&family=Varela&display=swap');

html, body{
    height: 190vh;
    width: 80vw;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 80vw;
    height: 63px;
    margin-left: 15vw;
    font-family: 'Oswald', sans-serif;
    font-size: 65px;
    
    align-items: center;
    color: #000000;
    text-shadow: 0px 6px 0px #FFFFFF;
}

h1{
    width: 80vw;
    height: 50px;
    margin-left: 17vw;
    font-family: 'Arial';
    font-style: unset;
    font-size: 40px;
    align-items: center;
    color: #000000;
}

main{
    display: flex;
    width: 80vw;
    flex-direction: column;
    
}

section{
    display: flex;
    justify-content: center;
    width: 80vw;
}

#produtos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 1550px;
    width: 900px;
    background: #FFFFFF;
    border-radius: 8px;

}

#produto{
    display: flex;
    width: 200px;
    height: 470px;
    flex-direction: column;
}

#imgProduct{
    height: 180px;
    width: 200px;
    border: none;    
}

#totalEstrelas{
    display: flex;
    flex-direction: row;
    height: max-content;
    width: max-content;
}

#estrela-cheia{
    width: 25px;
    height: 25px;
    background-image: url('img/estrela-cheia.jpg');
    background-size: contain;
}

#estrela-vazia{
    width: 25px;
    height: 25px;
    background-image: url('img/estrela-vazia.jpg');
    background-size: contain;
}

#productInfo{

    left: 14px;
    right: 18px;
    top: 290px;
    bottom: 108px;
    height: 100px;
    font-family: 'Chivo', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.0275em;
    color: #19191D;
    margin-bottom: auto;
}

#precoOriginal{
    margin-top: auto;
    font-family: 'Oswald', sans-serif;
    color: gray;
    font-size: 10px;
}

#preco{
    margin-top: auto;
    height: 10px;
    font-family: 'Chivo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
}

#botaoComprar{
    margin-top: auto;
    font-family: 'Chivo', sans-serif;
    font-style: normal;
    font-size: 14px;
    border-radius: 4px;
    
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.018em;
    width: 50%;
    height: 40px;
    text-transform: uppercase;
    justify-content: center;
    
    border: #2264D1 1px solid;
    color: #2264D1;
    background: #FFFFFF;
    
}

#produto:hover {
    border: solid #2264D1 1px;
    border-radius: 10px;
    padding: 10px;
}

#botaoComprar:hover {
    color: #FFFFFF;
    background: #2264D1;
}